{
  "basePath": "/",
  "consumes": [],
  "definitions": {},
  "host": "graph.microsoft.com",
  "info": {
    "description": "Get User Mailbox settings using Microsoft Graph API",
    "title": "Default title",
    "version": "1.0"
  },
  "parameters": {},
  "paths": {
    "/v1.0/users/{user-upn}/mailboxSettings/automaticRepliesSetting": {
      "get": {
        "description": "Get User Automatic Replies Setting",
        "operationId": "GetUserAutomaticRepliesSetting",
        "parameters": [
          {
            "description": "Enter User UPN",
            "in": "path",
            "name": "user-upn",
            "required": true,
            "type": "string",
            "x-ms-summary": "User UPN",
            "x-ms-visibility": "important"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "properties": {
                "@odata.context": {
                  "description": "@odata.context",
                  "type": "string"
                },
                "externalAudience": {
                  "description": "externalAudience",
                  "type": "string"
                },
                "externalReplyMessage": {
                  "description": "externalReplyMessage",
                  "type": "string"
                },
                "internalReplyMessage": {
                  "description": "internalReplyMessage",
                  "type": "string"
                },
                "scheduledEndDateTime": {
                  "description": "scheduledEndDateTime",
                  "properties": {
                    "dateTime": {
                      "description": "dateTime",
                      "type": "string"
                    },
                    "timeZone": {
                      "description": "timeZone",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "scheduledStartDateTime": {
                  "description": "scheduledStartDateTime",
                  "properties": {
                    "dateTime": {
                      "description": "dateTime",
                      "type": "string"
                    },
                    "timeZone": {
                      "description": "timeZone",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "status": {
                  "description": "status",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Get User Automatic Replies Setting",
        "x-ms-visibility": "important"
      }
    },
    "/v1.0/users/{user-upn}/mailboxSettings/timeZone": {
      "get": {
        "description": "Get User Timezone Setting",
        "operationId": "GetUserTimezoneSetting",
        "parameters": [
          {
            "description": "Enter User UPN",
            "in": "path",
            "name": "user-upn",
            "required": true,
            "type": "string",
            "x-ms-summary": "User UPN"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "properties": {
                "@odata.context": {
                  "description": "@odata.context",
                  "type": "string"
                },
                "value": {
                  "description": "value",
                  "title": "",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "summary": "Get User Timezone Setting"
      }
    }
  },
  "produces": [],
  "responses": {},
  "schemes": [
    "https"
  ],
  "security": [
    {
      "oauth2-auth": []
    }
  ],
  "securityDefinitions": {
    "oAuthClientCredentials": {
      "flow": "application",
      "scopes": {},
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "type": "oauth2"
    },
    "oauth2-auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "accessCode",
      "scopes": {},
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "type": "oauth2"
    }
  },
  "swagger": "2.0",
  "tags": []
}
