{
  "theme": "default",
  "themeCSS": [
    ".er.relationshipLabel { fill: red }", 
    ".er.entityBox { fill: white; stroke: black }",
    "[id*='entity-BusinessApprovalPro'] .er.entityLabel { fill: green }",
    "[id*='entity-BusinessApprovalData'] .er.entityLabel { fill: green }",
    "[id*='entity-BusinessApprovalStage'] .er.entityLabel { fill: green }",
    "[id*='entity-BusinessApprovalNode'] .er.entityLabel { fill: green }",
    "[id*='entity-BusinessApprovalCondition'] .er.entityLabel { fill: green }",
    "[id*='entity-BusinessApprovalVersion'] .er.entityLabel { fill: blue }",
    "[id*='entity-BusinessApprovalPublishedWorkflow'] .er.entityLabel { fill: blue }",
    "[id*='entity-BusinessApprovalRuntimeData'] .er.entityLabel { fill: blue }",
    "[id*='entity-BusinessApprovalRuntimeStage'] .er.entityLabel { fill: blue }",
    "[id*='entity-BusinessApprovalRuntimeNode'] .er.entityLabel { fill: blue }",
    "[id*='entity-BusinessApprovalRuntimeDataInstance'] .er.entityLabel { fill: black }",
    "[id*='entity-BusinessApprovalRuntimeStageInstance'] .er.entityLabel { fill: black }",
    "[id*='entity-BusinessApprovalRuntimeNodeInstance'] .er.entityLabel { fill: black }"
  ]
}